<% if (messages.error) { %>
    <%= messages.error %>
<% } %>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href="/assets/login.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="loginbox">
        <form action="/login" method="POST">
            <h1>Intellitech Distributors</h1>
            <h2>Admin Login</h2>
            <div>
                <label for="Username">Username</label>
                <input type="text" id="username" name ="username" required>
            </div>
            <div>
                <label for="Password">Password</label>
                <input type="password" id="password" name ="password" required>
            </div>
            <button type ="submit">Login</button>
        </form>
    </div>
</body>
</html>