<% if (messages.error) { %>
    <%= messages.error %>
<% } %>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/assets/subs.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class='SubsPage'> 
        <form action="/GenSubs" method = "POST">
            <button type = "submit">Generate Montly Subs</button>  
        </form>
    </div>
</body>
</html>